.sidenav {
  height: calc(100vh - 42px);
  width: 82px;
  padding-top: 30px;
  position: absolute;
  background-color: rgb(237, 242, 247);
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 20px;
  cursor: pointer;
}

.iconstyle {
  text-align: center;
  margin: auto;
  width: 50%;
  font-size: 40px;
}
.label {
  font-size: 12px;
  padding-top: 8px;
}
